version: 2.1

jobs:
  backend_ci:
    docker:
      - image: cimg/node:18.0
    steps:
      - checkout
      - run:
          name: Install Backend Dependencies
          command: |
            cd backend
            npm install
      - run:
          name: Run Backend Tests
          command: |
            cd backend
            npm test || echo "No tests"

  frontend_ci:
    docker:
      - image: cimg/node:18.0
    steps:
      - checkout
      - run:
          name: Install Frontend Dependencies
          command: |
            cd frontend
            npm install
            npm run build

  deploy_to_ec2:
    docker:
      - image: cimg/base:stable
    steps:
      - add_ssh_keys:
          fingerprints:
            - "SHA256:HlU12H+DFRoAB+iCeqLJgxMpIXCE9UQv3EgmNugzy3s"
      - run:
          name: Deploy to EC2
          command: |
            ssh -o StrictHostKeyChecking=no ec2-user@$EC2_IP "
              if [ ! -d /home/ec2-user/blog-app ]; then
                git clone https://github.com/udayasri-kamarsha/new-reepository.git /home/ec2-user/blog-app
              fi &&
              cd /home/ec2-user/blog-app &&
              git pull origin main &&

              cd backend && npm install && cd .. &&
              cd frontend && npm install && npm run build && cd .. &&

              pm2 restart blog-app || pm2 start backend/server.js --name blog-app
            "

workflows:
  ci_cd_pipeline:
    jobs:
      - backend_ci
      - frontend_ci
      - deploy_to_ec2:
          requires:
            - backend_ci
            - frontend_ci
